.game-map{
    border: 1px black solid;

    padding: 20px 0px;
    width: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-map>img{
    height: 900px;
    width: 700px;
}
